*{
    margin: 0;
    padding: 0;
}
.responsive-test{
    background-color: aquamarine;
    color: black;
    font-size: 50px;
}
@media (max-width: 1200px){
    .responsive-test{
        background-color: rgb(29, 9, 90);
        color: #fbf9f9;
        
    }
}
@media (max-width:768px){
    .responsive-test{
        background-color: #5a0909;
        
    }
}